.tweet {
  border-style: solid;
  padding: 16px;
  margin: 20px 0;
  align-items: center;
  border-radius: 5px;
}

img {
  padding: 10px;
}

.user-info {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.tweet:hover {
  color: #a19a40;
  box-shadow:dimgray;
}

.tweet-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tweet-footer {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 3px solid;
  padding: 6px ;
}

.icons {
  color: #4056A1;
}

.fa-flag:hover {
  color: #a19a40;
  box-shadow:dimgray;
}

.fa-flag{
  font-size: 16px;
}

.fa-heart {
  font-size: 16px;
}

.fa-retweet {
  font-size: 16px;
}

.fa-retweet:hover {
  color: #a19a40;
  box-shadow:dimgray;
}

.fa-heart:hover {
  color: #a19a40;
  box-shadow:dimgray;
}

.handle {
  color: #4056A1;
  opacity: 0.6;
}
